{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "eol-last": "off",
    "comma-dangle": "off",
    "import/newline-after-import": "off"
  }
}